<% include partials/header %>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">YelpCamp</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
              <li><a href="/">Login</a></li>
              <li><a href="/">Sign Up</a></li>
              <li><a href="/">Logout</a></li>
          </ul>
        </div>
    </div>
</nav>

<div class="container">
  <header class="jumbotron">
    <h1>Welcome to YelpCamp</h1>
    <a class="btn btn-primary" href="/campgrounds/new" role="button">Add New Campground</a>
  </header>

  <div class="row text-center" style="display:flex; flex-wrap: wrap;">
    <% campgrounds.forEach(campground => { %>
      <div class="col-md-3 col-sm-6">
          <div class="thumbnail">
              <!-- Add image -->
              <img src="<%= campground.image %>">
              <!-- Add caption for the thumbnail -->
              <div class="caption">
                  <h4><%= campground.name %></h4>
              </div>
           </div>
      </div>
    <% }) %>
  </div>
</div>

<% include partials/footer %>