<!DOCTYPE html>
<html>
    <head>
        <title>YelpCamp</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    </head>
    <body>
<nav class="navbar navbar-default">
    <!-- Make some ncie padding and spacing -->
    <div class="container-fluid">
        <div class="navbar-header">
            <!-- .navbar-brand for your company, product, or project name. -->
            <a class="navbar-brand" href="/">YelpCamp</a>
        </div>
        <div class="collapse navbar-collapse">
            <!-- Must add .nav class, or the 3 li's below will clog together -->
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Login</a></li>
                <li><a href="/">Sign Up</a></li>
                <li><a href="/">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
                