<% include ./partials/header.ejs %>

<!-- 
<h1>Login Page</h1>

<form action="/login" method="post">
  <input type="text" name="username" placeholder="username">
  <input type="password" name="password" placeholder="password">
  <button>Submit</button> 
</form> 
-->

<!-- Use Bootstrap to Style the Login & Sign Up Views (Replaced above code) -->
<div class="row">
    <h1 style="text-align: center">Login</h1>
  
    <div style="width: 30%; margin: 25px auto;">
        <form action="/login" method="post">
            <div class="form-group">
              <input class="form-control" type="text" name="username" placeholder="username">
            </div>
            <div class="form-group">
              <input class="form-control" type="password" name="password" placeholder="password">
            </div>
            <div class="form-group">
              <!-- btn-block makes the button a block long as the div width
              (See bootstrap.min.css ) -->
              <button class="btn btn-lg btn-primary btn-block">Login</button>
            </div>
        </form>
        <a href="/campgrounds">Go Back</a>
    </div>
</div> 

<% include ./partials/footer %> 